git+https://github.com/Rapptz/discord-ext-menus
PyNaCl
git+https://github.com/Rapptz/discord.py
asyncdagpi
youtube_dl
jishaku
Pydictionary
mystbin.py
async_cse
dnspython
psutil
sr_api
motor
humanize
